<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>Memos</title>
    <%- include('./snippet/header.ejs') %>
  </head>
  <body>
  
    <%- include('./snippet/navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <%- include('./snippet/sidebar.ejs') %>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="text-center mt-5 text-primary">
                <h4 class="fw-bold fs-4 display-1">All sent memos</h4>
            </div>
            <div class="text-end">
                <a href="/memo"><button class="btn btn-sm btn-outline-danger"><i class="fa fa-plus"></i>Post Memo</button></a>
            </div>
            <table id="example" class="table small table-sm table-striped mt-5" style="width:100%">
                <thead>
                    <tr>
                        <th>Memo title</th>
                        <th>Reference</th>
                        <th>Memo body</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (context.memos) { %>
                        <% context.memos.forEach(memo => { %>
                            <tr>
                                <td><%= memo.memoTitle %></td>
                                <td><%=memo.memoRef %></td>
                                <td><%= memo.memoBody %></td>
                                
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </main>
      </div>
    </div>



    <%- include('./snippet/scripts.ejs') %>
    </body>
</html>
