<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <title>Students</title>
    <%- include('./snippet/header.ejs') %>
  </head>
  <body>
  
    <%- include('./snippet/navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <%- include('./snippet/sidebar.ejs') %>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="text-center mt-5 text-primary">
                <h4 class="fw-bold fs-4 display-1">All students</h4>
            </div>
            <div class="text-end">
                <a href="/register"><button class="btn btn-sm btn-outline-danger"><i class="fa fa-plus"></i>Register user</button></a>
            </div>
            <table id="example" class="table small table-sm table-striped mt-5" style="width:100%">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Phone no</th>
                        <th>RegNo</th>
                        <th>Faculty</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (context.students) { %>
                        <% context.students.forEach(student => { %>
                            <tr>
                                <td><%= student.studentName %></td>
                                <td><%= student.studentEmail %></td>
                                <td><%= student.studentPhone_no %></td>
                                <td><%= student.regNo %></td>
                                <td><%= student.faculty %></td>
                                <td><%= student.dept %></td>
                                
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </main>
      </div>
    </div>



    <%- include('./snippet/scripts.ejs') %>
    </body>
</html>
